<section id="comments">
    <div>
        <a id="btnNewComment" onclick="onNewCommentClick()">
            <div>
                <div class="buttonText">Добавить комментарий</div>
                <img src="/images/add.png" class="rightButton">
            </div>
        </a>
        <textarea id="txtNewComment" rows="3" style='width:100%; padding:0;'></textarea>
        {{#each comments}}
        {{>comment}}
        {{/each}}
    </div>

    <script type="text/javascript">
        function onNewCommentClick()
        {
            var articleId = document.getElementById("articleId").value;
            var text = document.getElementById("txtNewComment").value;
            var postPars = 'id=' +  articleId + '&text=' + text;
            sendPost('/comments/add/', postPars, function (res) {
                var result = JSON.parse(res);
                if (result["sucess"])
                {
                    var comments = document.getElementById('comments');
                    comments.innerHTML += result["html"];
                }
            });
        }

        function deleteComment(commentId)
        {
            var postPars = 'commentId=' + commentId;
            sendPost('/comments/delete/', postPars, function (res) {
                var result = JSON.parse(res);
                if (result["sucess"])
                {
                    var deleted = document.getElementById( 'comment' + commentId );
                    deleted.parentNode.removeChild(deleted);
                }
            });
        }
        function sendEditedComment(commentId)
        {
            var commentText = document.getElementById("txtCommentText").value;
            var postPars = 'id=' +  commentId + '&text=' + commentText;
            sendPost('/comments/edit/', postPars, function (res) {
                document.getElementById("commentText" + commentId).innerHTML = res;
                destroyModalWindow();
            });

        }
        function editComment(commentId)
        {
            var content = [
                {"TextArea" : {
                        rows: 3,
                        id:"txtCommentText",
                        innerHtml : document.getElementById("commentText" + commentId).innerHTML
                    }},
                {"div style='margin-left: auto; margin-right: auto;'": [
                        {
                            "div": {
                                class: "editButton",
                                onClick: "sendEditedComment(" + commentId + ")",
                                innerHtml: "OK"
                            }
                        },
                        {
                            "div": {
                                class: "editButton",
                                onClick: " destroyModalWindow()",
                                innerHtml: "Отмена"
                            }
                        }, {"div":{class:"clr"}}]
                }];
            createModalWindow(JSONtoSTR(content), 82);
        }
    </script>
</section>