<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</head>
<body>
<nav>
    <ul>
        <li><a href="/articles/">Статьи</a></li>
        <li><a href="/login/">Вход</a></li>
        <li><a href="/admin/articles">Администрирование</a></li>
    </ul>
</nav>

    {{{body}}}
</body>
</html>