{{#if message}}
    <div class="message">
        <span style="color: red">{{message}}</span>
    </div>
{{/if}}
<h1>Статьи</h1>
<div id="content">
    <table width="100%">
        {{#each articles}}
            <tr>
                <td>
                    <div><a href="/articles/{{id}}">{{title}}{{created}}</a></div>
                </td>
            </tr>
        {{/each}}
    </table>

</div>
</div>
