<main id="content">
    <h1>{{title}}</h1>
    <div id="article_view">
        {{{text}}}
    </div>
    <input id="articleId" type="hidden" value="{{id}}"/>
    <div id="commentsContainer">
        {{> comments this }}
    </div>
</main>
