<main id="content">

  <div>

    <select name="razdelList">
      <option *ngFor="let razdel of razdels" value="{{razdel.razdelId}}" [selected] = "razdel.selected">
      {{razdel.razdel}}
      </option>
    </select>
    <div >
      <input name="title" type="text" [(ngModel)]="article.title"/>
      <app-ckeditor #editor [(ngModel)]="article.text"></app-ckeditor>
    </div>

    <input type="button"  value="Сохранить" (click)="onOkClick()"/>
    <input type="button" (click)="onCanselClick(editor)" value="Отмена" />
  </div>
  <app-comment *ngFor="let comm of article.comments" [comment]="comm"></app-comment>
</main>
