<main id="content">

  <form action="" method="POST">

    <select name="razdelList">
      <option *ngFor="let razdel of razdels" value="{{razdel.razdelId}}" [selected] = "razdel.selected">
      {{razdel.razdel}}
      </option>
    </select>
    <input name="title" type="text" value="{{article.title}}"/>
    <app-ckeditor [value]="article.text"></app-ckeditor>


    <input type="button"  value="Сохранить" (click)="onOkClick()"/>
    <input type="button" value="Отмена" />
  </form>
  <app-comment *ngFor="let comm of article.comments" [comment]="comm"></app-comment>
</main>
