body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f6f6f6;
  color:#666;
}
html
{
    max-width: 1200px;
}
.clr{
    clear: both;
}

ul{
    padding:0;
    margin:0;
}

h1,h2,h3,p{
    padding:5px 0;
    margin-bottom:0;
}

p{
    margin:0;
}
nav{
    background:#404137;
    color:#fff;
    overflow:auto;
    height:30px;
    padding:15px 0 0 7px;
    font-size: 14px;
}
nav li{
    float:left;
    list-style:none;
}
nav a{
    padding:7px;
    margin:0 7px;
    color:#fff;
    text-decoration:none;
}
nav a.current, nav a:hover{
    background: #83cd29;
    color:#000;
}
#content{
    border: 1px solid #ccc;
    margin: 20px auto;
    padding:20px;
    border-top: #83cd39 3px solid;
}
a {
  color: #83cd29;
}
textarea
{
    width: 100%;
}
input[type~='text' 'password'] select {
    padding:3px;
    height:20px;
    width:200px;
    border:1px #ccc solid;
}
#btnNewComment
{
   float: right;
}
.rightPanel
{
    display: inline-block;
    margin: 2px;
    float: right;
}
.clr
{
    float: none;
}
.rightButton
{
    width: 22px;
    height:22px;
    margin: 2px;
    float: right;
}
.buttonText
{
    float: right;
    line-height: 22px;
    margin: 1px;
}
#comments
{

}
.commentText
{
    padding: 5px;
}
.commentAuthor
{
    margin: 5px 2px 0 0;
    font-family: Italic;
}
.submit {
    display:block;
    width: 100px; /* note that display block will go full width unless you specify otherwise */
    text-align:center;
    margin: auto;
}
.input[type="text"]
{
    display: block;
}
#editInput
{
    height: 150px;
}
.editButton
{
    position: relative;
    float: right;
    margin: 5px 5px 0px 5px;
}
#hideDiv{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.625);
    z-index: 100;
    overflow: auto;
}

#modalWindow{
    opacity: 1;
    margin: 50px;
    background: #fff;
    z-index: 101;
    position: relative;
    top: 0;
    left: 0;
    padding: 16px;

}
