#btnNewComment
{
  float: right;
}
.rightPanel
{
  display: inline-block;
  margin: 2px;
  float: right;
}
.clr
{
  float: none;
}
.rightButton
{
  width: 22px;
  height:22px;
  margin: 2px;
  float: right;
}
.buttonText
{
  float: right;
  line-height: 22px;
  margin: 1px;
}
#comments
{

}
.commentText
{
  padding: 5px;
}
.commentAuthor
{
  margin: 5px 2px 0 0;
  font-family: Italic;
}
