<div class="commentBody">
  <div *ngIf="!isEditing">
    <div class="commentAuthor">{{comment.author}}</div>
    <div class="editButton" *ngIf="adminGuard.canActivate()">
      <img src="/assets/images/edit.png"  (click)="EditCommentClick()"
           alt="Редактировать" class="rightButton">
    </div>
    <div *ngIf="adminGuard.canActivate()" class="editButton" (click)="DeleteCommentClick()">
      <img  src="/assets/images/delete.svg" alt="Удалить" class="rightButton">
    </div>
    <div class="commentText">{{comment.text}}</div>
  </div>
  <div *ngIf="isEditing">
    <textarea rows="3"  [(ngModel)]="comment.text" ></textarea>
    <input type="button" value="OK" (click)="editOkClick()"/>
    <input type="button" value="отмена" (click)="editCanselClick()"/>

  </div>
</div>
