<main id="content">
  <h1>Статья - {{article.title}}</h1>
  <div class="e2e-inner-html-bound" id="article_view" [innerHTML]="article.text"></div>
    <div id="commentsContainer">
  </div>
</main>
<section id="comments">
  <div>
    <a id="btnNewComment" (click)="addCommentClick()">
      <div>
        <div class="buttonText">Добавить комментарий</div>
        <img src="assets/images/add.png" class="rightButton">
      </div>
    </a>
    <textarea id="txtNewComment" rows="3" [(ngModel)]="commentText" ></textarea>
    <app-comment *ngFor="let comm of article.comments" [comment]="comm"
    (onDelete)="onDelete($event)" (onEndEdit)="onEndEdit($event)"></app-comment>
  </div>
 </section>
