<main id="content">
  <h1>Статья - {{article.title}}</h1>
  <div id="article_view">{{article.text}}</div>
    <div id="commentsContainer">
  </div>
</main>
<section id="comments">
  <div>
    <a id="btnNewComment" onclick="onNewCommentClick()">
      <div>
        <div class="buttonText">Добавить комментарий</div>
        <img src="/images/add.png" class="rightButton">
      </div>
    </a>
    <textarea id="txtNewComment" rows="3" style='width:100%; padding:0;'></textarea>
    <div class="commentBody" *ngFor="let comment of article.comments">
      <div class="commentAuthor">{{comment.author}}</div>
      <div class="editButton" onclick="editComment()">
        <img src="/images/edit.png" alt="Редактировать" class="rightButton">
      </div>
      <div class="editButton" onclick="deleteComment()">
        <img src="/images/delete.svg" alt="Удалить" class="rightButton">
      </div>
      <div class="commentText" id="commentText{{commentId}}">{{text}}</div>
    </div>
  </div>
 </section>
