<main id="content">
  <h1>Статья - {{article.title}}</h1>
  <div id="article_view">{{article.text}}</div>
    <div id="commentsContainer">
  </div>
</main>
<section id="comments">
  <div>
    <a id="btnNewComment" onclick="onNewCommentClick()">
      <div>
        <div class="buttonText">Добавить комментарий</div>
        <img src="/images/add.png" class="rightButton">
      </div>
    </a>
    <textarea id="txtNewComment" rows="3" style='width:100%; padding:0;'></textarea>
    <app-comment *ngFor="let comm of article.comments" [comment]="comm"></app-comment>

  </div>
 </section>
