/*nav{
  background:#063;
  color:#fff;
  text-align: left;
  font-size: 14px;
  list-style:none;
}
nav li{
  border: solid 1px black;
  display: inline-block;

  top : 0;
}
.menu-main li:last-child:after {content: none;}
a{
  padding:5px;
  margin: 10px;
  color:#fff;
  text-decoration:none;
}
 a.current, a:hover, #home-img:hover{
  background: #00af51;
}*/
app-user {
  position: absolute;
  right: 2px;
  top: 0;
  margin: 5px;
  color: #00cf60;
}

nav{
  position: relative; /*чтобы внутри работало абсолютное позиционирование*/
  background:#063;
  text-align: left;
  font-size: 14px;
  list-style:none;

}

nav li{
  list-style:none;
  display:inline-block;
  position:relative;
  height: 40px;

  min-width: 50px;
  text-align: center;
}
nav li:hover, #home-img:hover{
  background: #00b956;
}
nav li a{

  position:relative;
  top:10px;
  margin: 0 5px;
  text-decoration:none;
  color:#F5F5F5;
}

nav li ul{
  display:none;/*Прячем выпадающее меню*/
  position:absolute;
  padding-left:0;
  width:120px;/*Ширина выпадающего меню*/
  padding-top:3px;/*Отступ сверху у выпадающего меню*/
}
nav li:hover ul{
  display:block;/*Показываем выпадающее меню при наведение*/
  left:0px;
}
#home-img
{
  width: 30px;
  height: 30px;
  pading : 5px;
  margin : 5px;
  float: left;
}
