<!--<div>
  <app-user align="right"></app-user>
  <nav>

    <ul>
     <li><div id="home-img"><img  src="/assets/images/home.svg" alt="На главную" routerLink="/articles/"></div></li>
      <li *ngIf="adminGuard.canActivate()"><a routerLink="/admin/articles">Управление статьями</a></li>
    </ul>
  </nav>

</div>-->

<nav>
  <div id="home-img"><img  src="/assets/images/home.svg" alt="На главную" routerLink="/articles/"></div>
  <ul>
    <ul>

      <li><a>link</a></li>

      <li *ngIf="adminGuard.canActivate()"><a routerLink="/admin/articles">Управление статьями</a></li>
    </ul>
  </ul>
  <app-user align="right"></app-user>
</nav>



